body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5% 5% 4% 5%;
  color: #FEF2BF;
}

#level-under {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 4% 5% 2% 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  position: relative;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  border: 10px solid red;
  opacity: 0.6;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Hides Elements */
.hideMe {
  opacity: 0;
}

.highScore {
  text-align: left;
  margin-left: 30%;
  color: #FEF2BF;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}

/* Prevents Clicking Element */
.cantClick {
  pointer-events: none;
}